@media (min-width: 1900px) {
  header h1 {
    font-size: 40px;
  }

  header nav {
    font-size: 20px;
  }

  header a {
    margin-right: 20px;
  }

  .container .about-page {
    left: 30vw;
    padding: 100px 0 100px 250px;
  }

  .about-page h1 {
    font-size: 60px;
  }

  .about-page p {
    font-size: 35px;
  }

  .about-page li {
    font-size: 30px;
  }

  .container .title {
    font-size: 60px;
  }

  .box:nth-child(2) p {
    font-size: 23px;
  }

  .box:nth-child(3) p {
    font-size: 21px;
  }

  .sights-header h1 {
    font-size: 34px;
  }
}

@media (max-width: 1400px) {
  header h1 {
    font-size: 28px;
  }

  .container .about-page {
    padding-left: 180px;
  }

  .about-page h1 {
    font-size: 50px;
  }

  .about-page p {
    font-size: 25px;
  }

  .about-page li {
    font-size: 20px;
  }

  .container .title {
    font-size: 50px;
  }

  .container .animation-boxes {
    width: 100vw;
  }

  .animation-boxes .box {
    width: 34%;
  }

  .box:nth-child(2) p {
    font-size: 16px;
  }

  .box:nth-child(3) p {
    font-size: 14px;
  }

  .fact h1 {
    font-size: 32px;
  }

  .fact p {
    font-size: 22px;
  }

  .container .tours {
    width: 90vw;
  }

  .container footer {
    width: 90vw;
  }
}

@media (max-width: 1300px) {
  header h1 {
    font-size: 26px;
  }

  header nav {
    font-size: 12px;
  }

  header a {
    margin-right: 20px;
  }

  .container .tours {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  body header {
    justify-content: space-between;
  }

  header h1 {
    width: 90%;
  }

  header nav {
    display: none;
  }

  main .container {
    margin-bottom: 100px;
  }

  main .container:nth-child(1) {
    height: 100vh;
  }

  .container .cloud {
    display: none;
  }

  .container .about-page {
    padding: 50px 0 50px 150px;
    margin-top: 100px;
  }

  .about-page h1 {
    font-size: 40px;
  }

  .about-page p {
    font-size: 20px;
  }

  .about-page li {
    font-size: 15px;
  }

  .container .title {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .container .animation-boxes {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
  }

  .animation-boxes .box {
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: inset 0px -1px 3px #000, 0px -1px 3px #000;
  }

  .animation-boxes .box:nth-child(1) div {
    border-radius: 0;
    box-shadow: inset 0px -1px 3px #000, 0px -1px 3px #000;
  }

  .animation-boxes .box:nth-child(2) {
    height: auto;
    width: 100%;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    grid-column: 1/3;
    grid-row: 2/3;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
  }

  .box:nth-child(2) p {
    border-top: 0;
    border-right: 1px solid #191E24;
    border-bottom: 0;
    border-left: 1px solid #191E24;
  }

  .box:nth-child(2) p:nth-child(2) {
    border-top: 0;
    border-left: 1.5px solid #191E24;
  }

  .box:nth-child(2) p:nth-last-child(2) {
    border-right: 1.5px solid #191E24;
    border-bottom: 0;
  }

  .box:nth-child(3) p {
    font-size: 17px;
  }

  .fact h1 {
    font-size: 28px;
  }

  .fact p {
    font-size: 18px;
  }

  .sights-header h1 {
    font-size: 24px;
  }

  .animation-left-off,
  .animation-left-on,
  .animation-center-of,
  .animation-center-on,
  .animation-right-off,
  .animation-right-on,
  .animation-top-off,
  .animation-top-on,
  .animation-bottom-off,
  .animation-bottom-on {
    opacity: 1;
    transform: none;
    transition: none;
  }
}

@media (max-width: 1025px) {
  main .container {
    margin-bottom: 50px;
  }

  .container .about-page {
    left: 0;
    padding: 40px 0 40px 0;
    border-radius: 0;
    margin-top: 50px;
    box-shadow: inset 0px -1px 3px #000, 0px -1px 3px #000;
    align-items: center;
  }

  .box:nth-child(2) p {
    font-size: 13px;
  }

  .box:nth-child(3) p {
    font-size: 15px;
  }

  .container .sights {
    width: 100vw;
  }

  .sights .sights-continents {
    width: 20%;
    height: 100%;
    justify-content: flex-start;
  }

  .sights-continents .continent {
    width: 85%;
    height: 22%;
    margin: 20px 10px 0 10px;
  }

  .sights-continents:nth-child(1) .continent:nth-child(2),
  .sights-continents:nth-child(3) .continent:nth-child(2) {
    right: 0;
    left: 0;
  }

  .sights .sights-content {
    justify-content: flex-start;
  }

  .sights-content .sights-image {
    height: 80%;
  }

  .sights-content .sights-header {
    width: 95vw;
    margin-top: 20px;
  }

  .container footer {
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-row-gap: 0;
  }

  footer span {
    width: 24vw;
    padding: 0 20px 20px 20px;
    text-align: center;
  }

  footer span:nth-child(1) {
    font-size: 24px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  footer span:nth-child(2) {
    width: 100vw;
    font-size: 14px;
    grid-column: 1/5;
    grid-row: 5/6;
  }

  footer span:nth-child(6) {
    grid-column: 1/3;
  }

  footer span:nth-child(7) {
    grid-column: 3/5;
  }

  footer span:nth-child(8) {
    width: 100vw;
    font-size: 16px;
    grid-column: 1/5;
    grid-row: 3/4;
  }

  footer span:nth-child(9) {
    width: 100vw;
    font-size: 16px;
    text-align: left;
    grid-column: 1/5;
    grid-row: 4/5;
  }

  main .scroll-up,
  main .scroll-down {
    left: 15px;
  }
}

@media (max-width: 769px) {
  .container .title {
    font-size: 26px;
  }

  .container .animation-boxes {
    height: 100vh;
    grid-template-rows: 2fr 1fr 2fr;
  }

  .animation-boxes .box:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .animation-boxes .box:nth-child(2) {
    padding: 0;
    margin-top: 0;
    grid-column: 1/3;
    grid-row: 2/3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .animation-boxes .box:nth-child(1) div {
    background-position: 50% 50%;
  }

  .animation-boxes .box:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .box:nth-child(2) p {
    padding: 10px;
    font-size: 12px;
  }

  .box:nth-child(2) p,
  .box:nth-child(2) p:nth-child(1),
  .box:nth-child(2) p:nth-child(2),
  .box:nth-child(2) p:nth-last-child(1),
  .box:nth-child(2) p:nth-last-child(2) {
    border: 1px solid #191E24;
  }

  .box:nth-child(3) p {
    font-size: 14px;
  }

  .box:nth-child(2) p:nth-child(7) {
    grid-column: 3/5;
  }

  .container .fact {
    right: 0;
    width: 100%;
    margin-top: 0;
    align-items: center;
  }

  .container .fact:nth-child(2n-1) {
    left: 0;
    align-items: center;
  }

  .container .fact span {
    padding: 20px;
  }

  .container .sights {
    display: grid;
    grid-template-rows: 5fr 1fr 1fr;
    grid-template-areas:
      "image"
      "continents_1"
      "continents_2";
  }

  .sights .sights-continents:nth-child(1) {
    width: 100%;
    flex-direction: row;
    grid-area: continents_1;
  }

  .sights .sights-continents:nth-child(3) {
    width: 100%;
    flex-direction: row;
    grid-area: continents_2;
  }

  .sights-continents .continent {
    height: 90%;
    margin: 0 5px 0 5px;
  }

  .sights .sights-content {
    width: 100%;
    grid-area: image;
  }

  .sights-content .sights-image {
    border-radius: 0;
  }

  .sights-content .sights-header {
    width: 100%;
    border-radius: 0;
    margin: 20px 0 20px 0;
  }

  .sights-header h1 {
    font-size: 20px;
  }

  .container .tours {
    grid-template-columns: repeat(2, 1fr);
  }

  .tour-text strong {
    text-align: center;
  }

  .container footer {
    grid-template-columns: repeat(3, 1fr);
  }

  footer span {
    width: 33vw;
  }

  footer span:nth-child(2) {
    grid-column: 1/4;
    grid-row: 6/7;

  }

  footer span:nth-child(2) i {
    text-indent: 40px;
  }

  footer span:nth-child(6) {
    grid-column: 2/3;
  }

  footer span:nth-child(7) {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  footer span:nth-child(8) {
    font-size: 14px;
    grid-column: 1/4;
    grid-row: 4/5;
  }

  footer span:nth-child(9) {
    font-size: 14px;
    grid-column: 1/4;
    grid-row: 5/6;
  }

  main .scroll-up,
  main .scroll-down {
    bottom: 70px;
    left: 10px;
  }

  main .scroll-down {
    bottom: 20px;
  }
}

@media (max-width: 426px) {
  header h1 {
    font-size: 22px;
  }

  main .container {
    margin-bottom: 20px;
  }

  .container .about-page {
    padding: 60px 0 60px 0;
    margin-top: 20px;
  }

  .about-page h1 {
    margin-bottom: 0;
    font-size: 30px;
  }

  .about-page p {
    font-size: 18px;
  }

  .about-page li {
    margin-top: 10px;
    font-size: 12px;
  }

  .container .title {
    font-size: 23px;
  }

  .container .animation-boxes {
    grid-template-columns: 1fr 1.2fr;
  }

  .animation-boxes .box:nth-child(1) div {
    background-position: 50% 0%;
  }

  .box:nth-child(2) p {
    padding: 5px;
    font-size: 11px;
  }

  .box:nth-child(3) p {
    margin: 0 20px 0 20px;
    font-size: 12px;
  }

  .box:nth-child(3) p:nth-child(1) {
    margin-top: 5px;
  }

  .box:nth-child(3) p:nth-last-child(1) {
    margin-bottom: 5px;
  }

  .fact span {
    width: 80%;
    padding: 15px;
  }

  .fact h1 {
    font-size: 18px;
  }

  .fact p {
    font-size: 12px;
  }

  .sights-header h1 {
    font-size: 16px;
  }

  .container .tours {
    grid-template-columns: repeat(1, 1fr);
  }

  .container footer {
    grid-template-columns: 1fr;
  }

  footer span {
    width: 100vw;
    font-size: 16px;
    text-align: left;
  }

  footer span:nth-child(1) {
    grid-column: 1;
  }

  footer span:nth-child(2) {
    grid-column: 1;
    grid-row: 10/11;
  }

  footer span:nth-child(6) {
    grid-column: 1;
  }

  footer span:nth-child(7) {
    grid-column: 1;
    grid-row: 6/7;
  }

  footer span:nth-child(8) {
    grid-column: 1;
    grid-row: 8/9;
  }

  footer span:nth-child(9) {
    grid-column: 1;
    grid-row: 9/10;
  }

  main .scroll-up,
  main .scroll-down {
    bottom: 65px;
    left: 5px;
  }

  main .scroll-down {
    bottom: 15px;
  }
}

@media (max-width: 376px) {
  header h1 {
    font-size: 20px;
  }

  .container .title {
    font-size: 20px;
  }
}